$l:60px;
$rows:5;
$cols:5;
$w:$l*$rows;
$h:$l*$cols;
$timing:linear;
$interval:0.8s;
$curb-num:$rows*$cols;
$delay:0.1s;

body{
    background: #39f;
}
.curb-group{
    width:$w;
    height:$h;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
            perspective: 500px;
    margin:3em auto;
}
.mark{
    width:$w;
    height:$h;
    position:absolute;
    top:0;
    left:0;
    display: none;
    transform: translateZ(40px);
    background-size:100% 100%;
}
.curb{
    $c : ($l);
    width:$c;
    height:$c;
    position: relative;
    text-align: center;
    line-height: $c;
    transform-style: preserve-3d;
    transition:all $timing 0.1s;
    animation-duration: $interval;
    animation-timing-function: $timing;
    animation-fill-mode:forwards; 
    .side{
        position: absolute;
        width:$c;
        height:$c;
        background-size:$w $h;
        &.front{
            transform: translateZ($c/2);
        }
        &.back{
            transform: translateZ(-$c/2);
        }
        &.left{
            transform: rotateY(-90deg) translateZ($c/2);
        }
        &.right{
            transform: rotateY(90deg) translateZ($c/2);
        }
        &.top{
            transform: rotateX(-90deg) translateZ($c/2);
        }
        &.bottom{
            transform: rotateX(90deg) translateZ($c/2);
        }
    }
    @for $i from 1 through $curb-num {
        &:nth-child(#{$i}){
            animation-delay: $i*$delay;
            .side{
                background-position: (-1*($i - 1)*$l) -1*ceil($i/$rows)*$l+$l;
            }
        }
    }
    &.up{
        animation-name: rotate-up;
    }
    &.down{
        animation-name:rotate-down;
    }
    &.left{
        animation-name:rotate-left;
    }
    &.right{
        animation-name:rotate-right;
    }
}
@keyframes rotate-up {
    0% {
        transform:scale(1) rotatex(0);
    }
    40% {
        transform:scale(0.7) translatez($l) rotatex(0);
    }
    70% {
        transform:scale(0.7)translatez($l)rotatex(90deg);
    }
    100% {
        transform:scale(1) rotatex(90deg);
    }
}
@keyframes rotate-down {
    0% {
        transform:scale(1) rotatex(0);
    }
    40% {
        transform:scale(0.7) translatez($l) rotatex(0);
    }
    70% {
        transform:scale(0.7)translatez($l)rotatex(-90deg);
    }
    100% {
        transform:scale(1) rotatex(90deg);
    }
}
@keyframes rotate-left {
    0% {
        transform:scale(1) rotatex(0);
    }
    40% {
        transform:scale(0.7) translatez($l) rotateY(0);
    }
    70% {
        transform:scale(0.7)translatez($l)rotateY(90deg);
    }
    100% {
        transform:scale(1) rotatex(90deg);
    }
}
@keyframes rotate-right {
    0% {
        transform:scale(1) rotatex(0);
    }
    40% {
        transform:scale(0.7) translatez($l) rotateY(0);
    }
    70% {
        transform:scale(0.7)translatez($l)rotateY(-90deg);
    }
    100% {
        transform:scale(1) rotatex(90deg);
    }
}
.curb-control{
    .control{
        top:46%;
        position:absolute;

    }
    .curb-l{  
        left:-50px;
    }
    .curb-r{
        right:-50px;
    }
}
